ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 18px;
    background-color: #f8b3e7;
}

li.checked {
    text-decoration: line-through;
    color: rgb(189, 177, 177);
    /* Strikethrough style */
}

input[type='checkbox'] {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    accent-color: rgb(89, 138, 89);

    /* Green background for the checkmark */
}