.list-detail {
    &__title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__items {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        margin-bottom: 10px;
        font-size: 18px;
        background-color: #f9e3f3;
        padding: 10px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--checked {
            text-decoration: line-through;
            color: rgb(189, 177, 177);
            /* Strikethrough style */
        }
    }

    &__label {
        display: flex;
        align-items: center;
    }

    &__checkbox {
        margin-right: 10px;
        width: 16px;
        height: 16px;
        accent-color: rgb(89, 138, 89);
    }

    &__delete-icon {
        cursor: pointer;
        font-size: 12px;
        margin: 0 1rem;
        transition: color 0.2s ease;

        &:hover {
            transform: scale(1.3);
        }
    }
}