@import "../../styles/global.scss";

.list-detail {
    margin-bottom: 3rem;

    &__heading {
        margin-bottom: 2rem;

        @include flex-container(space-between, center);
    }

    &__submit-button {
        background-color: $secondary-color-blue;
    }

    &__item {
        font-size: 1.5rem;
    }
}

.category-lists {
    &__items {
        text-decoration: none;
    }
}