// Screen Breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// Primary Colors
$primary-soft-pink: #f9e3f3;
$primary-medium-pink: #f8b3e7;
$primary-dark-pink: #c87696;

// Secondary Colors
$secondary-color-green: #b8d5b8;
$secondary-color-purple: #cda9fa;
$secondary-color-blue: #a1c4fd;